body {
  margin: 0;
background-color:;
}
.logo {
  height: 46px;
  width: 50px;
}
.login-img {
  height: 20px;
  width: 20px;
}
.slider-background{
  background: linear-gradient(173.68deg, #ffedf5 0%, #ffd5e7 100%);
  height: "296px";
  width: 294.26px;
}
.allcared {
  position: relative;
  height: 130px;
  width: 130px;
}

.category-card {
  height: 140px;
  width: 100%;
  border-radius: 50%;
  opacity: 0.3;
}

.category-card-img {
  max-width: 110px;
  max-height: 100px;
  position: absolute;
  top: 20%;
  left: 10%;
}
.shopping-now {
  padding: 5px;
  height: 35px;
  width: 90px;
  color: #272727;
  text-decoration: none;
  text-align: center;
  border: 1px solid #272727;
  border-radius: 14px;
}
.category-card-text {
  color: #555550;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.dicount-img {
  max-height: 130px;
  max-width: 80%;
}
.discount-backcolor {
  height: 130px;
  border-radius: 8px;
  background: radial-gradient(circle, #767676 0%, #4d4f50 100%, #494c4d 100%);
}
.cat-header {
  height: 100%;
  background-color: white;
}

.cat-text-header {
  color: #979797;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
  padding-top: 10px;
  margin-left: 17px;
  cursor: pointer;
}
.cat-text-header:hover {
  color: #555550;
}

.search-count-text {
  color: #979797;
  font-family: Almarai;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
}
.card-filter {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  width: 170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-filter-item {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}
.card-filter-item:hover {
  background-color: #272727;
  color: #ffffff;
}
